spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "sh" "-c" "swaybg -i ~/Pictures/Wallpapers/wallpaper.jpeg" "-m" "fill"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
