include "~/.config/niri/cfg/autostart.kdl"
include "~/.config/niri/cfg/keybinds.kdl"
include "~/.config/niri/cfg/rules.kdl"
include "~/.config/niri/cfg/display.kdl"
include "~/.config/niri/cfg/layout.kdl"
// include "~/.config/niri/cfg/animation.kdl"
include "~/.config/niri/cfg/misc.kdl"
include "~/.config/niri/cfg/input.kdl"

